@import '~@angular/material/_theming.scss';

@include mat-core();

// default theme:
$primary: mat-color(mat-palette($mat-indigo));

.serviceify {
    font-size: 24px;
    font-weight: 700;
    color: $primary !important ;
    margin-left: 50px
}
 
mat-toolbar {
    background-color: white;
}