<div class='bg'>
    <app-header-client></app-header-client>
    <div class="py-4">
        <div class="d-flex justify-content-center" style="width:100%;">
            <mat-card class="bar">
                <h4 class="mx-4 "> Welcome to your client profile </h4>
            </mat-card>
        </div>
        <div class="main d-flex justify-content-center py-4">
            <div class="sidebar mx-4 p-2">
                <app-client-card></app-client-card>
                <mat-card class="my-4">
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let link of links" class="sidenav-link my-4"
                            [routerLink]="[link.path]">
                            <mat-icon md-list-icon class="mx-4"> {{ link.icon }} </mat-icon>
                            <span class="title" md-line> {{ link.title }} </span>
                        </a>
                    </mat-nav-list>
                </mat-card>
            </div>
            <mat-card *ngIf="profile" class="post-container p-2">
                <div class="d-flex justify-content-around algin-items-center pt-5 pb-3">
                    <img [src]=" 'http://159.223.28.104' + ( profile.image || profile.client.image )  " class="img-fluid profile-image rounded-circle" width="300">
                </div>
                <div class="d-flex justify-content-around flex-column align-items-center ">
                    <div class="d-flex flex-column my-4">
                        <span class="text-center name"> {{ profile.nom || profile.client.nom }} </span>
                        <span> {{ profile.email || profile.client.email  }} </span>
                    </div>
                    <div class="my-4">
                        <button class="mx-2" [disabled]="!profile.client" (click)='sendTicket()' mat-raised-button color="primary">Send Ticket</button>
                        <button class="mx-2" [disabled]="!profile.client" mat-raised-button color="accent"> Chat </button>
                        <button class="mx-2" [disabled]="!profile.client" (click)='report()' mat-raised-button color="warn"> Report</button>
                    </div>
                </div>
                <div class="p-5">
                    <mat-list role="list">
                        <mat-list-item role="listitem"> Username : {{ profile.nom || profile.client.nom }} </mat-list-item>
                        <mat-list-item role="listitem"> Email : {{ profile.email || profile.client.email }} </mat-list-item>
                        <mat-list-item role="listitem"> Role : <mat-chip-list>
                        <mat-chip class="mx-2" color="primary" selected> Client </mat-chip><mat-chip *ngIf="profile.is_employees || profile.client.is_employees ;"  class="mx-2" color="accent" selected> Worker </mat-chip></mat-chip-list> </mat-list-item>
                        <mat-list-item role="listitem"> Address : {{ profile.adress || profile.client.adress  }} </mat-list-item>
                        <mat-list-item role="listitem"> Tel : {{ profile.tel || profile.client.tel ||  "54573666" }} </mat-list-item>
                      </mat-list>
                </div>
                
            </mat-card>
            <div class="suggestion-container mx-4">
                <div class="search__container p-5">
                    <p class="search__title">
                        Go ahead, hover over search
                    </p>
                    <input class="search__input" [(ngModel)]="query" (keyup)="searchWorker()" type="text"
                        placeholder="Search">
                </div>
                <app-worker-card *ngFor="let worker of workers" [worker]="worker"></app-worker-card>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>

</div>